<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${compose}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeExercise">
        <activity
            android:name=".XmlActivity"
            android:exported="true"
            android:theme="@style/Theme.XML">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OfficeActivity"
            android:exported="false"
            android:label="@string/title_activity_office"
            android:theme="@style/Theme.ComposeExercise">

        </activity>
    </application>

</manifest>